@import "./utils/variables";
@import "./base/fonts";
@import "./base/normalize";
@import "./utils/own-normalize";
@import "./utils/placeholders";
@import "./components/head";
@import "./components/logo";
@import "./components/nav";
@import "./components/contacts";
@import "./components/hero";
@import "./components/modal-window";
@import "./components/modal-form";
@import "./components/advantages";
@import "./components/work-img";
@import "./components/team";
@import "./components/companies";
@import "./components/footer";
@import "./components/adress-footer";
@import "./components/social-footer";
@import "./components/join-footer";
@import "./components/btn-list";
@import "./components/example-works";
