:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
}
body {
  background-color: #ffffff;
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
/* main page */

.contacts {
  background: #2f303a;
}
.hero {
  padding: 200px 0 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--title-color);
}
.container-fluid {
  height: 200px;
  background-image: url("https://ac.goit.global/img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  z-index: 99;
  transform: opacity;
  opacity: 1;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:focus,
.modal__btn:hover {
  fill: var(--accent-color);
}
.modal__icon {
  position: absolute;

  top: 8px;
  right: 8px;
}

.modal-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
  height: 14px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: var(--main-color);
}
.modal-form__field {
  position: relative;

  margin-bottom: 10px;
}
.modal-form__meta {
  display: block;
  width: 448px;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__meta:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__meta:focus-within {
  border: 1px solid var(--accent-color);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__icon--left {
  left: 14.27px;
}
.modal-form__icon--prepend {
  left: 13.5px;
}
.modal-form__coment {
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__coment::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-form__coment:focus-within {
  border: 1px solid var(--accent-color);
}
.modal-form__checkbox {
  position: relative;
  display: block;

  margin-bottom: 30px;
  text-align: center;
}
.modal-form__consent {
  display: inline-block;
  margin-left: 24px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.modal-form__contract {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__icon-checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-color);
  background-color: #ffffff;
  border-radius: 2px;
}

input.visually-hidden:checked + .modal-form__icon-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.main-advantages {
  padding: 94px 0 94px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items__description:not(:last-child) {
  margin-right: 30px;
}
.items__icons-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.items__advantages {
  width: 270px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.items__text {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.holder {
  padding: 0 0 94px 0;
}
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__list {
  flex-basis: calc((100% - 90px) / 3);
}
.gallery__img {
  position: relative;
  margin-right: 30px;
}
.gallery__img:nth-child(3n) {
  margin-right: 0;
}
.gallery__img:nth-child(-3 + n) {
  margin-bottom: 0;
}
.gallery__items {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.gallery__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.about-team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
}

.team {
  display: flex;
  flex-wrap: wrap;
}
.team__list {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
  margin-left: auto;
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
}
.team__list:nth-child(4n) {
  margin-right: 0;
}
img {
  width: 100%;
  display: block;
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}
.social-sheet {
  display: flex;
  justify-content: space-between;
}
.social-sheet__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sheet__icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sheet__link:hover,
.social-sheet__link:focus {
  background-color: var(--accent-color);
}
.social-sheet__link:hover .social-sheet__icons,
.social-sheet__link:focus .social-sheet__icons {
  fill: #ffffff;
}
.company-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.company-list {
  display: flex;
}
.company-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__item:not(:last-child) {
  margin-right: 30px;
}
.company-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__link:hover,
.company-list__link:focus {
  border: 1px solid var(--accent-color);
}
.company-list__link:hover .company-list__icon,
.company-list__link:focus .company-list__icon {
  fill: var(--accent-color);
}

/* components starts */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
}
.nav-list {
  display: flex;
}

.nav-list__item {
  position: relative;
  margin-right: 50px;
}
.nav-list__item:last-child {
  margin-right: 0;
}
.nav-list__link--focused::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

span {
  color: var(--accent-color);
}
/* logo nav */
.logo {
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo--top {
  padding: 24px 0 25px;
  margin-right: 93px;

  color: var(--title-color);
}
.logo--footer {
  margin-bottom: 20px;
  width: 145px;

  color: white;
}

.nav-list__link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link--focused {
  color: var(--accent-color);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.communication-list__link {
  display: block;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-list {
  display: flex;
  margin-left: auto;
}
.communication-list__item:not(:last-child) {
  margin-right: 50px;
}

.communication-list__link:hover,
.communication-list__link:focus {
  color: var(--accent-color);
}

.communication-list__mail {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 11px;

  fill: currentColor;
}

.communication-list__phone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

/* adress */
.footer:not(:last-child) {
  margin-right: 70px;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer__adress {
  width: 231px;
  margin-bottom: 9px;
}

.footer__link {
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts {
  padding: 60px 0 60px 0;
}
.footer__link--accent {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--accent:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link--accent:hover,
.footer__link--accent:focus {
  color: var(--accent-color);
}
.social-list {
  margin-right: 90px;
}
.join-to-social {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}
.social-sheet--actived {
  min-width: 206px;
}

.social-sheet__link--actived {
  background: rgba(255, 255, 255, 0.1);
}
.social-sheet__link--actived:hover,
.social-sheet__link--actived:focus {
  background-color: var(--accent-color);
}

.social-sheet__icons--actived {
  fill: #fff;
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-form__email {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 11px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #fff;
}
.footer-form__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn--modal {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--top {
  display: block;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--modal:focus,
.btn--modal:hover {
  background-color: #188ce8;
}
.btn--footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.btn__text {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.btn__text--footer {
  margin-right: 10px;
}

/* components end */

/* portfolio page */
.portfolio {
  padding: 94px 0 94px 0;
}
.btn-list {
  display: flex;
  justify-content: center;
}
.btn-list__item {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list__item:hover.btn-list__text,
.btn-list__item:focus.btn-list__text {
  color: #ffffff;
}
.btn-list__name {
  margin-bottom: 50px;
}
.btn-list__name:not(:last-child) {
  margin-right: 8px;
}

.btn-list__item:hover,
.btn-list__item:focus {
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-list__item--active {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio__types {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.products {
  width: 370px;
  margin: 15px;
}
.products__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__img {
  display: block;
}
.products__item {
  position: relative;
  overflow: hidden;
}
.products__animation {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.products__link:hover .products__animation,
.products__link:focus .products__animation {
  transform: translateY(0);
  opacity: 1;
}

.products__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.products__name {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.products__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.products__desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
