:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
}
body {
  background-color: #ffffff;
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
/* main page */
.hero {
  padding: 200px 0 200px 0;
}

.contacts {
  background: #2f303a;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--title-color);
}
.container-fluid {
  height: 200px;
  background-image: url("https://ac.goit.global/img/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  z-index: 99;
  transform: opacity;
  opacity: 1;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.bg-icon-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-icon-close:focus,
.bg-icon-close:hover {
  fill: var(--accent-color);
}
.modal-icon {
  position: absolute;

  top: 8px;
  right: 8px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:focus {
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.main-modal-field {
  padding: 40px;
}
.name-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: var(--main-color);
}
.field {
  position: relative;

  margin-bottom: 10px;
}
.modal-field {
  width: 448px;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus + .icon-name {
  fill: var(--accent-color);
}
.modal-field:focus-within {
  border: 1px solid var(--accent-color);
}
.icon-name {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-tel {
  left: 14.27px;
}
.icon-mail {
  left: 13.5px;
}
.field-coment {
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-coment::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.field-coment:focus-within {
  border: 1px solid var(--accent-color);
}
.checkbox-field {
  position: relative;
  display: block;

  margin-bottom: 30px;
  text-align: center;
}
.consent {
  display: inline-block;
  margin-left: 24px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.contract {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: underline;
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-color);
  background-color: #ffffff;
  border-radius: 2px;
}

input.visually-hidden:checked + .icon-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-Vector-6' viewBox='0 0 42 32' width='11' height='8'%3E%3Cpath fill='%23fff' style='fill: var(--color1, %23fff); stroke: var(--color1, %23fff)' stroke='%23fff' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' stroke-width='0.64' d='M6.263 15.205l-0.22-0.21-3.307 3.132 11.651 11.114 24.477-23.351-3.285-3.134-21.192 20.197-8.124-7.75z'%3E%3C/path%3E%3C/svg%3E");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-color: var(--accent-color);
}

button.btn-modal {
  display: block;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:focus,
.btn-modal:hover {
  background-color: #188ce8;
}
.main-advantages {
  padding: 94px 0 94px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-description:not(:last-child) {
  margin-right: 30px;
}
.icons-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages {
  width: 270px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.holder {
  padding: 0 0 94px 0;
}
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-list {
  flex-basis: calc((100% - 90px) / 3);
}
.img {
  position: relative;
  margin-right: 30px;
}
.img:nth-child(3n) {
  margin-right: 0;
}
.img:nth-child(-3 + n) {
  margin-bottom: 0;
}
.gallery-items {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.gallery-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.about-team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
}

.team {
  display: flex;
  flex-wrap: wrap;
}
.team-list {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
  margin-left: auto;
  border-radius: 0 0 4px 4px;

  background-color: #ffffff;
}
.team-list:nth-child(4n) {
  margin-right: 0;
}
img {
  width: 100%;
  display: block;
}
.proffesion {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-worker {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}
.social-sheet {
  display: flex;
  justify-content: space-between;
}
.social-sheet-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sheet-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sheet-list:hover,
.social-sheet-list:focus {
  background-color: var(--accent-color);
}
.social-sheet-list:hover .social-sheet-icons,
.social-sheet-list:focus .social-sheet-icons {
  fill: #ffffff;
}
.company-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.company-list {
  display: flex;
}
.company-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-point:not(:last-child) {
  margin-right: 30px;
}
.name-of-company {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list-item:hover,
.company-list-item:focus {
  border: 1px solid var(--accent-color);
}
.company-list-item:hover .name-of-company,
.company-list-item:focus .name-of-company {
  fill: var(--accent-color);
}

/* components starts */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
}
.main-nav-list {
  display: flex;
}

.main-nav-item {
  position: relative;
  margin-right: 50px;
}
.main-nav-item:last-child {
  margin-right: 0;
}
.main-nav::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

span {
  color: var(--accent-color);
}
/* logo nav */
.logo {
  display: block;
  padding: 24px 0 25px;
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.nav {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav {
  color: var(--accent-color);
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.communication {
  display: block;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-list {
  display: flex;
  margin-left: auto;
}
.communication-item:not(:last-child) {
  margin-right: 50px;
}

.communication:hover,
.communication:focus {
  color: var(--accent-color);
}

.mail {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 11px;

  fill: currentColor;
}

.phone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

/* logo footer */
.secondary-logo {
  width: 145px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}

.icon {
  margin-bottom: 20px;
}
/* adress */
.footer-sheet:not(:last-child) {
  margin-right: 70px;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.adress-item {
  width: 231px;
  margin-bottom: 9px;
}

.link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts {
  padding: 60px 0 60px 0;
}
.contacts-item {
  width: 231px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

.join-to-social {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  min-width: 206px;
  margin-right: 90px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.icons-footer {
  fill: #fff;
}
.follow {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.field-email {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 11px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.field-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.btn-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 50px;

  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-submit-text {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* components end */

/* portfolio page */
.portfolio {
  padding: 94px 0 94px 0;
}
.type-of-button {
  display: flex;
  justify-content: center;
}
.carousel-btn {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-of-button {
  margin-bottom: 50px;
}
.list-of-button:not(:last-child) {
  margin-right: 8px;
}

.carousel-btn:hover,
.carousel-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.carousel-total {
  background-color: var(--accent-color);
  color: #ffffff;
}
.main-sheet {
  display: flex;
  flex-wrap: wrap;
}
.main-sheet {
  margin: -15px;
}
.work-sheet {
  width: 370px;
  margin: 15px;
}
.work-sheet-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-sheet-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-img {
  display: block;
}
.animation-items {
  position: relative;
  overflow: hidden;
}
.animation {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.work-sheet-item:hover .animation,
.work-sheet-item:focus .animation {
  transform: translateY(0);
  opacity: 1;
}

.animation-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.projects-name {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.type-projects {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.projects-desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
