.main-advantages {
  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }

}

.visually-hidden {
  @extend %visually-hidden;
}

.items {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

}

.items__description {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

.items__description:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }


  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}


.items__icons-body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.items__advantages {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.items__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}