.portfolio {
  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }

}

.visually-hidden {
  @extend %visually-hidden;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 90px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    min-height: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.btn-list__name {
  @media screen and (max-width: 399px) {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 400px) {
    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

.btn-list__item {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  background-color: #f5f4fa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--active {
    background-color: var(--accent-color);
  }
}

.btn-list__text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-list__item:hover &,
  .btn-list__item:focus & {
    color: #ffffff;
  }

  &--active {
    color: #ffffff;
  }
}